[submodule "modules/php-mode"]
	path = modules/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "modules/emacs-wiki-mode"]
	path = modules/emacs-wiki-mode
	url = https://github.com/emacsmirror/emacs-wiki-mode.git
[submodule "modules/yasnippet"]
	path = modules/yasnippet
	url = https://github.com/emacsmirror/yasnippet.git
[submodule "modules/icicles"]
	path = modules/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "modules/cursor-chg"]
	path = modules/cursor-chg
	url = https://github.com/emacsmirror/cursor-chg.git
[submodule "modules/auto-complete"]
	path = modules/auto-complete
	url = https://github.com/m2ym/auto-complete.git
